@import "tailwindcss";

@layer base, antd, utilities;

@layer base {
  :root {
    --sidebar-width: 240px;
    --sidebar-collapsed-width: 64px;
    --header-height: 64px;
    --content-padding: 16px 12px;
  }

  * {
    scrollbar-width: thin;
  }
}

@theme {
  --color-primary: var(--color-primary);
}
